
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #351010;
    padding: 1rem;
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-nav li {
    display: inline;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}


.hero {
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    color: white;
}

.hero-text {
    padding: 1rem 2rem;
    border-radius: 8px;
    margin-left: 10rem; 
}

.hero-text h1 {
    margin: 0;
    font-size: 3.5rem;
    color: #351010;
}

.hero-text h3 {
    margin: 0;
    font-size: 2rem;
    color: #351010;
}

.hero-text p {
    font-size: 1.5rem;
    color: #351010;
}



.description {
    text-align: center;
    padding: 2rem;
}

.description p {
    font-size: 1.2rem;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    margin: 1rem;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-desc {
    padding: 1rem;
}

.card-desc h3 {
    margin-top: 0;
}

.card-desc p {
    font-size: 1rem;
    color: #555;
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}


@media (max-width: 1092px) {
    .navbar-nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero {
        height: 40vh;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text h3 {
        font-size: 1.2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .cards {
        flex-direction: row;
        gap: 0.75rem;
    }

    .card {
        max-width: 220px; 
    }
}


@media (max-width: 900px) {
    .navbar-nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero {
        height: 40vh;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text h3 {
        font-size: 1.2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .cards {
        flex-direction: row;
        gap: 0.5rem;
    }

    .card {
        max-width: 200px; 
    }
}

@media (max-width: 800px) {
    .navbar-nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero {
        height: 38vh;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text h3 {
        font-size: 1.2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .cards {
        flex-direction: row;
        gap: 0.5rem;
    }

    .card {
        max-width: 190px; 
    }
}


@media (max-width: 700px) {
    .navbar-nav {
        flex-direction: column;
        gap: 0.4rem;
    }

    .hero {
        height: 36vh;
    }

    .hero-text h1 {
        font-size: 1.8rem;
    }

    .hero-text h3 {
        font-size: 1rem;
    }

    .hero-text p {
        font-size: 0.8rem;
    }

    .cards {
        flex-direction: row;
        gap: 0.5rem;
    }

    .card {
        max-width: 150px; 
    }
}

@media (max-width: 500px) {
    .navbar-nav {
        flex-direction: column;
        gap: 0.2rem;
    }

    .hero {
        height: 30vh;
    }

    .hero-text h1 {
        font-size: 1rem;
    }

    .hero-text h3 {
        font-size: 0.75rem;
    }

    .hero-text p {
        font-size: 0.5rem;
    }

    .cards {
        flex-direction: column;
        gap: 0.5rem;
    }

    .card {
        max-width: 200px; 
    }
}

